.conteiner__form__background {
  position: absolute;
  top: var(--height-baner);
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__body__title {
  margin: 0;
}

.form__body {
  width: 400px;
  background-color: var(--color-form);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  padding: 30px;
  font-size: 1.2em;
}

.form__btn {
  margin-top: 20px;
  font-size: inherit;
  width: 50%;
  background-color: var(--color-btn);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  font-weight: 700;
}

.form__btn:hover {
  background-color: var(--color-btn-hover);
}
