.conteiner__disk {
  display: flex;
  min-height: calc(100vh - var(--height-baner));
  width: 100%;
}

.content__disk__info {
  width: 20%;
  background-color: lightblue;
  text-align: center;
  flex: none;
  min-height: calc(100vh - var(--height-baner));
}

.disk__info__user {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}

.disk__info__user > h3 {
  margin: 5px;
}

.info__user__email {
  font-weight: 700;
}

.info__user__email > span {
  font-weight: 400;
  word-break: break-all;
}

.info__statistika {
  text-align: start;
}

.info__size {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 20px;
  font-weight: 700;
}

.info__user__avatar {
  width: 50%;
}

.content__disk__files {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  text-align: center;
}

.files__form {
  margin-bottom: 15px;
}

.form__add__input {
  display: none;
}

.form__add__btn {
  padding: 10px 30px 15px;
  background-color: var(--color-form);
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 700;
  margin-bottom: 15px;
}

.form__add__btn:hover {
  background-color: var(--color-btn-hover);
}

.files__field {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  overflow: auto;
  margin: 20px;
}

.conteiner__file__item {
  border: 1px solid black;
  width: 260px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.files__item__img {
  width: 100px;
  max-height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.file__item__info {
  word-break: break-all;
  text-align: start;
}

.item__info__title {
  font-weight: 700;
}

.item__info__title > span {
  font-weight: 400;
}

.title__date {
  font-weight: 400;
  display: inline-block;
}

.file__item__controll {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.controll__item {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.controll__item__edit {
  background-image: url('../../../img/icons_btn/pencil.png');
  background-size: 90%;
}

.controll__item__download {
  background-image: url('../../../img/icons_btn/download.png');
}

.controll__item__copylink {
  background-image: url('../../../img/icons_btn/copylink.png');
  background-size: 90%;
}

.active__download {
  background-image: url('../../../img/load.gif');
  pointer-events: none;
}

.controll__item__delete {
  background-image: url('../../../img/icons_btn/delete.svg');
}

.controll__item__edit:hover {
  background-image: url('../../../img/icons_btn/pencil-hover.png');
}

.controll__item__download:hover {
  background-image: url('../../../img/icons_btn/download-hover.png');
}

.controll__item__delete:hover {
  background-image: url('../../../img/icons_btn/delete-hover.svg');
}

.controll__item__copylink:hover {
  background-image: url('../../../img/icons_btn/copylink-hover.png');
}