.file__controll {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.controll__item {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.controll__item__edit {
  background-image: url('./icons_btn/pencil.png');
  background-size: 90%;
}

.controll__item__download {
  background-image: url('./icons_btn/download.png');
}

.controll__item__copylink {
  background-image: url('./icons_btn/copylink.png');
  background-size: 90%;
}

.active__download {
  background-image: url('./load.gif');
  pointer-events: none;
}

.controll__item__delete {
  background-image: url('./icons_btn/delete.svg');
}

.controll__item__edit:hover {
  background-image: url('./icons_btn/pencil-hover.png');
}

.controll__item__download:hover {
  background-image: url('./icons_btn/download-hover.png');
}

.controll__item__delete:hover {
  background-image: url('./icons_btn/delete-hover.svg');
}

.controll__item__copylink:hover {
  background-image: url('./icons_btn/copylink-hover.png');
}
