.conteiner__error {
  position: absolute;
  top: var(--height-baner);
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('../../../../img/error404.webp');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}