.page_content {
  max-width: 1296px;
  margin: 30px auto;
  padding: 20px;
}

.content_block h1 {
  margin: 0;
  line-height: 1.1;
}

.block_discription_title {
  color: green;
  font-size: 4em;
  text-align: center;
}

.text_left {
  text-align: start;
}

.block_discription_title > span {
  color: black;
  font-size: 0.8em;
}

.footer_navigation {
  margin-bottom: 30px;
}

footer {
  background-color: lightgray;
  text-align: center;
  padding: 30px;
}
