*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --height-baner: 200px;
  --color-btn: lightgreen;
  --color-btn-hover: rgb(212, 231, 128);
}

.conteiner {
  width: 100%;
  padding: 0px 0px 30px;
}

.hidden {
  display: none;
}