*, *:before, *:after {
  box-sizing: border-box;
}

.conteiner {
  margin: 30px auto;
  width: 1000px;
}

.conteiner__form {
  display: flex;
  justify-content: center;
}

.block__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
}

.form__label {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form__label__title {
  margin-left: 15px;
}

.input__label {
  height: 30px;
  padding-left: 10px;
  margin-top: 15px;
}

.form__btn {
  height: 30px;
  padding: 1px 25px;
}

.conteiner__clock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.clock__item {
  margin-bottom: 20px;
}

.clock__item:nth-child(n+2) {
  margin-left: 25px;
}

.clock__item:nth-child(5n+6) {
  margin-left: 0px;
}

.clock__title {
  text-align: center;
  margin-bottom: 20px;
}

/* ----------- элемент часы ------------ */

.clock {
  width: 180px;
  height: 180px;
  /* background-image: linear-gradient(70deg, black, white); */
  background-image: url('./img/clock.png');
  background-size: cover;
  border-radius: 50%;
  position: relative;
}

.hr,
.min,
.sec {
  width: 1%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  transform-origin: bottom;
  z-index: 2;
  border-radius: 2em;
}

.pin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1em;
  height: 1em;
  background: rgb(38, 0, 255);
  border: 2px solid #ffffff;
  border-radius: 10em;
  margin: auto;
  z-index: 10;
}

.hr {
  height: 25%;
  background-color: #ff0000;
}

.min {
  height: 30%;
  background-color: #ff9900;
}

.sec {
  height: 40%;
  background-color: #99ff00;
  transform-origin: 50% 85%;
}

.clock__cross {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url('./img/cross.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 50%;
  right: 0;
  top: -20px; 
}

.clock__cross:hover {
  background-color: chartreuse;
}