*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --height-baner: 80px;
  --color-btn: lightgreen;
  --color-btn-hover: rgb(212, 231, 128);
  --color-form: lightblue;
}

.conteiner {
  width: 100%;
  padding: 0px 0px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  height: 100vh;
}

.header_baner {
  width: initial;
  height: var(--height-baner);
  background-image: url('./img/4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
}

.ul_navigation {
  justify-content: flex-end;
  margin: 0px;
}

.hidden {
  display: none;
}
