.conteiner__disk {
  display: flex;
  min-height: calc(100vh - var(--height-baner));
  width: 100%;
}

.content__disk__info {
  width: 20%;
  background-color: lightblue;
  text-align: center;
  flex: none;
  min-height: calc(100vh - var(--height-baner));
}

.disk__info__user {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}

.disk__info__user > h3 {
  margin: 5px;
}

.info__user__email {
  font-weight: 700;
}

.info__user__email > span {
  font-weight: 400;
  word-break: break-all;
}

.info__statistika {
  text-align: start;
  margin-top: 10px;
}

.info__size {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  font-weight: 700;
}

.info__user__avatar {
  width: 50%;
}

.content__disk__files {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  text-align: center;
}

.files__form {
  margin-bottom: 15px;
}

.form__add__input {
  display: none;
}

.form__add__btn {
  padding: 10px 30px 15px;
  background-color: var(--color-form);
  border-radius: 10px;
  border: 1px solid black;
  font-weight: 700;
  margin-bottom: 15px;
}

.form__add__btn:hover {
  background-color: var(--color-btn-hover);
}

.files__field {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  overflow: auto;
  margin: 20px;
}

.conteiner__file {
  border: 1px solid black;
  width: 260px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.file__img {
  width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}

.file__info {
  word-break: break-all;
  text-align: start;
}

.info__item {
  font-weight: 700;
}

.info__item > span {
  font-weight: 400;
}

.title__date {
  font-weight: 400;
  display: inline-block;
}

.item__comment {
  max-height: 5em;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.item__comment::-webkit-scrollbar { width: 0 !important }